@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #23671C;
  font-family: "Tahoma", "Arial", "Helvetica", sans-serif;
}

@layer utilities {
  .link {
    /* Các thuộc tính CSS chung cho liên kết */
  }

  .link.active {
    font-weight: bold;
    color: rgb(
      0,
      0,
      0
    ); /* hoặc bất kỳ màu nào bạn muốn sử dụng để chỉ thị liên kết hoạt động */
  }

  .text-balance {
    text-wrap: balance;
  }
}
figure {
  position: relative;
}
figcaption {
  position: absolute;
  left: 100px;
  top: 62px;
  font-style: italic;
  font-size: 12px;
  text-decoration: underline;
}
.text-fs li {
  font-size: 13px;
}
